@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=spectral:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

* {
  scroll-behavior: smooth;
}

.login-siginup-wrapper {
  background-image: url('/src/assets/images/login.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.otp-input-style {
  border: 1px solid black;
}